body {
    background: #cccccc;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

#boladouro {
    width: 100px;
    height: 50px;
    background-image: "boladouro";
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
}