body {
    background: #cccccc;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

#boladeouro {
    width: 300px;
    height: 200px;
}