body {
    background: #cccccc;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

#boladouro {
    width: 900px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

#messi {
    width: 300px;
    display: block;
    margin: auto;
}

header {
    padding: 20px;
    background-color: goldenrod;
    border-bottom: 2px solid white;
    font-size: 32px;
    color: white;
    display: flex;
}